<link rel="stylesheet" href="/static/css/select2.min.css">
<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/css/toast.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" type="text/css" />

<script>
  if(sessionStorage.getItem("alerts") == undefined){
  sessionStorage.setItem("alerts", '{}');
  sessionStorage.setItem("count", 0);
}
</script>
<%- include('../partials/header.admin.ejs'); %>
  <%- include("Modals/modalConfigurationCourse");%>
  <div class="container-fluid">

    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/cursos" class="btn btn-success btn-sm float-left d-inline"><i
                class="fas fa-arrow-left"></i></a>
            <a data-toggle="modal" data-target="#modal" class="btn btn-info btn-sm float-right d-inline mx-1"><i
                class="fas fa-paperclip"></i>Agregar nueva oferta</a>

            <a data-toggle="modal" data-target="#insertar_modal"
              class="btn btn-success btn-sm float-right d-inline mx-1"><i class="fas fa-plus"></i>Agregar nuevo
              curso</a>
            <a data-toggle="modal" data-target="#configuration_courses_modal" class="btn btn-secondary btn-sm float-right d-inline mx-1">
              <i class="fas fa-ellipsis-h"></i>
              Configuración del programa
            </a>
            
          </div>
          <div class="card-body">
            <a href="/admin/cursos/finalizados/<%= programa%>">
              <div class="card shadow mb-3">
                <div class="card-body">
                  <img class="logo rounded float-left" src="/static/img/finalizado_at.png" alt="">
                  <h4>Cursos finalizados</h4>
                  <p class="ml-5"> </p>
                </div>
              </div>
            </a>

            <%if(!oferta.length) {%>
              <h5>No existen ofertas abiertas</h5>
              <%}else{%>
                <h5 class="text-secondary">Oferta disponible</h5>
                <% } %>
                  <div class="row">
                    <% oferta.forEach( ofert => {   %>
                      <div class="col-md-4">
                        <div class="card shadow mb-3">
                          <div class="card-body">
                            <% if(ofert.Estado === 5) { %> 
                            <a href="/admin/cursos/detalle/<%= ofert.Codigo_curso %>/<%= programa %>/oferta  "> <%}%>
                            <% if(ofert.Estado === 15) { %> 
                            <a href="/admin/cursos/detallectz/<%= ofert.Codigo_curso %>/<%= programa %>/oferta  "> <%}%>

                              <h5 class="text-primary d-inline">
                                <i class="fas fa-arrow-right"></i>
                                <%= ofert.Nombre %>  || 
                                
                              </h5>
                            </a>
                            
                            <!-- <%if((ofert.cantidadAlumnos-ofert.cantidadIncom) > 0){%>
                              <script>
                                var msg = "<%=ofert.cantidadAlumnos-ofert.cantidadIncom%> solicitudes incompletas en el curso <%= ofert.Nombre%>";
                                sessionStorage.setItem('count',parseInt(sessionStorage.getItem('count'))+1);
                                var conseguido = JSON.parse(sessionStorage.getItem('alerts'))
                                conseguido[`${sessionStorage.getItem('count')}`] = msg;
                                sessionStorage.setItem('alerts', JSON.stringify(conseguido))
                              </script>
                            <%}%> -->
                            <%if(ofert.cantEsp > 0){%>
                             <script>
                                var msg = "<%= ofert.Nombre%> ya tiene <%=ofert.cantEsp%> en espera'";
                               sessionStorage.setItem('count',parseInt(sessionStorage.getItem('count'))+1);
                                var conseguido = JSON.parse(sessionStorage.getItem('alerts'))
                                conseguido[`${sessionStorage.getItem('count')}`] = msg;
                                sessionStorage.setItem('alerts', JSON.stringify(conseguido))
                             </script>
                            <%}%>
                            <%if(programa == 28 || programa == 31 || programa == 32 || programa == 33){%>
                            <br>
                            <br>
                              <!-- <p><b>Cantidad de solicitudes incompletas: </b><span><%= (ofert.cantidadAlumnos-ofert.cantidadIncom)%></span><p> -->
                              <p><b>Cantidad de solicitudes en espera: </b><%= ofert.cantEsp%></p>
                            <%}%>
                            <p>
                              <% if(ofert.Estado == 5) { %>
                              <b>Participantes:</b>
                              <%= ofert.cantParticipantes%>
                              <b>- Empresas:</b>
                              <%= ofert.cantidadEmpresas %>
                              <%}else{%>
                                <b>Participantes:</b>
                                <%= ofert.cantidadAlumnos %> 
                              <%}%>
                            </p>
                            <% if(ofert.Estado == 5) { %> <span class="badge badge-pill badge-primary">Oferta para empresas</span> <%}%>
                            <% if(ofert.Estado == 15) { %><span class="badge badge-pill badge-danger">Oferta para no cotizantes</span> <%}%>                            
                            <button class="btn btn-danger btn-sm float-right d-inline"
                              onclick="deleteOferta('<%= ofert.Codigo_curso %>')"> <i
                                class="fas fa-trash-alt"></i></button>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                  </div>
                  <%if(!datos.length) {%>
                    <h5>No existen cursos activos</h5>
                    <%}else{%>
                      <h5>Cursos Activos:</h5>
                      <% } %>
                        <% for(var i=0; i<datos.length; i++) {%>
                         
                            <div class="card shadow mb-3">
                              <div class="card-body">
                                <a  class="text-primary"
                                href="/admin/cursos/detalle/<%=datos[i].Codigo_curso%>/<%=programa%>/curso ">
                                <h4 class="text-weight-bold"><i class="fas fa-angle-double-right"></i>
                                  <%= datos[i].Nombre %>
                                </h4>
                                <hr>
                                <p class="d-inline" style="color: black;">
                                  <b><i class="fas fa-user"></i> Instructor:</b>
                                  <%= datos[i].instructor %> <br>
                                  <b><i class="fas fa-users"></i> Participantes: </b> 
                                  <%= datos[i].cantidadAlumnos %> <br>
                                  <b><i class="fas fa-calendar"></i> Horario:</b>
                                  <%= datos[i].Horario %> <br>
                                  <b>Fecha de inicio: </b><%= datos[i].fecha_inicio%>
                                  <b>Fecha de finalización: </b><%= datos[i].fecha_fin%>
                                </p>
                              </a>
                                <button class="btn btn-success float-right btn-sm d-inline" onclick="ReporteAlumnos('<%= datos[i].Codigo_curso %>')"> <i class="fas fa-file-excel"></i> Descargar participantes</button>
                              </div>
                            </div>
                         
                          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="container p-5" id="menu">
            <h5>¿A quien va destinada la oferta?</h5>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-primary btn-block" id="btn_empresas"> <i class="fas fa-building"></i> Empresas /
                  Cotizantes
                  ISSS</button>
              </div>
              <div class="col-md-6">
                  <button class="btn btn-secondary btn-block" id="btn_ctzants" ><i class="fas fa-user-friends"></i>Particulares no
                    cotizantes</button>
              </div>
            </div>
          </div>

          <form id="form_oferta_empresas" style="display: none;">
            <button class="btn btn-info btn-sm btn_back_menu"><i class="fas fa-arrow-left"></i></button>
            <hr>
            <input type="hidden" name="programa" id="programa_oferta" required value="<%= programa%>">
            <span class="badge badge-primary">Oferta para empresas</span>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="nombre">Nombre de la oferta</label>
                <input type="text" class="form-control" required name="nombre" id="nombre_oferta">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-10">
                <label for="horario">Fechas de ejecución</label>
                <input type="text" class="form-control" name="fecha" autocomplete="off" required id="horario_fecha"
                  placeholder="Sábado...">
              </div>
              <div class="form-group col-md-2">
                <label for="horario">Horas totales</label>
                <input type="number" min="0" class="form-control" name="horas" autocomplete="off" required id="horas"
                  placeholder="00">
              </div>
              <div class="form-group col-md-4">
                <label for="horario">Horario</label>
                <input type="text" class="form-control" name="horario" required id="horario_oferta"
                  placeholder="De 0:00 a 0:00">
              </div>
              <div class="form-group col-md-4">
                <label for="costo">Costo por alumno</label>
                <input type="text" class="form-control" name="costo" required id="costo_oferta" placeholder="$0.00">
              </div>
              <div class="form-group col-md-4">
                <label for="costo">Fecha limite para inscripción</label>
                <input type="text" class="form-control" name="fecha_limite" required id="fecha_limite">
              </div>
            </div>
            <button type="button" class="btn btn-secondary float-right m-1" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary float-right m-1">Agregar oferta</button>
          </form>


          <%- include('Modals/frmOfertNoCot'); %>


        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>



  <%- include("Modals/modalInsertCouse");%>

    <!-- /.container-fluid -->
    <%- include('../partials/footer'); %>
      <script src="/static/js/jquery.mask.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="/static/js/select2.min.js"></script>
      <script src="/static/js/toast.js"></script>

      <script src="/static/js/cursos.js"></script>
      <!--DATATABLE DEPENDENCIES-->
      <script src="/static/vendor/datatables/datatables.min.js"></script>
      <script src="/static/js/dataTables.buttons.min.js"></script>
      <script src="/static/js/pdfmake.min.js"></script>
      <script src="/static/js/vfs_fonts.js"></script>
      <script src="/static/js/buttons.html5.min.js"></script>
      <script src="/static/js/buttons.print.min.js"></script>
      <script src="/static/js/jszip.min.js"></script>
      <!-- CRUD FOR frequent questions -->
      <script src="/static/js/setting/frequent_questions/read.js"></script>
      <script src="/static/js/setting/frequent_questions/create.js"></script>
      <script src="/static/js/setting/frequent_questions/tables.js"></script>
      <script src="/static/js/setting/frequent_questions/delete.js"></script>
      <script src="/static/js/setting/frequent_questions/update.js"></script>
      <script src="/static/js/setting/frequent_questions/dynamic.js"></script>
      <!-- CRUD FOR problem cases -->
      <script src="/static/js/setting/problem_cases/read.js"></script>
      <script src="/static/js/setting/problem_cases/create.js"></script>
      <script src="/static/js/setting/problem_cases/tables.js"></script>
      <script src="/static/js/setting/problem_cases/delete.js"></script>
      <script src="/static/js/setting/problem_cases/update.js"></script>
      <script src="/static/js/setting/problem_cases/dynamic.js"></script>
      <script src="/static/js/setting/problem_cases/initialize.js"></script>