<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<%- include('../partials/header.admin.ejs'); %>
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Seleccionar programa para ver cursos</h1>
  </div>

  <div class="row container-fluid">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Programas</h6>
        </div>
        <div class="card-body">
          <% for(var i=0; i<query.length; i++) {%>
            <div class="card shadow mb-3">
              <a href="/admin/cursos/<%= query[i].id %>">
              <div class="card-body">
                  <img class="logo rounded float-left"  src="/static/img/uploads/<%= query[i].ImgPortada %>"  alt="">
                  <h4 class="text-primary ml-5"><%= query[i].Nombre %></h4>
                  <p class="ml-5">Cantidad de cursos : <%= query[i].cantidad %> </p>
              </div>
            </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
<%- include('../partials/footer'); %>
