<!-- Modal editar curso -->
<div class="modal fade" id="modificar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDITAR CURSO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="form_editar">
            <input type="hidden" name="id" value="<%= curso.Codigo_curso%>">
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nombre">Nombre del curso*</label>
                <input type="text" class="form-control" value="<%= curso.Nombre %>" required name="nombre"
                id="nombre">
            </div>
            </div>
            <div class="form-row">
            <div class="col-3">
                <label for="date_inicio">Fecha de inicio</label>
                <input type="text" class="form-control" value="<%= curso.Date_inicio %>" name="date_inicio"
                id="date_inicio">
            </div>
            <div class="col-3">
                <label for="date_fin">Fecha de finalización</label>
                <input type="text" class="form-control" value="<%= curso.Date_fin %>" name="date_fin"
                id="date_fin">
            </div>
            <div class="col-3">
                <label for="orden">Orden de inicio</label>
                <input type="text" class="form-control" name="orden" value="<%= curso.Orden %> " id="orden">
            </div>
            <div class="col-3">
                <label for="agrupacion">Agrupación</label>
                <input type="text" class="form-control" name="agrupacion" value="<%= curso.Agrupacion %> "
                id="agrupacion">
            </div>
            </div>
            <div class="form-row">
            <div class="col-3">
                <label for="modalidad">Modalidad</label>
                <input type="text" class="form-control" value="<%= curso.Modalidad %>" name="modalidad"
                id="modalidad">
            </div>
            <div class="col-3">
                <label for="modalidad_id">Identificador Modalidad</label>
                <input type="text" class="form-control" value="<%= curso.id_modalidad %>" name="modalidad_id"
                id="modalidad_id">
            </div>
            <div class="col-3">
                <label for="Documento">Documento</label>
                <input type="text" class="form-control" name="Documento" value="<%= curso.Documento %> "
                id="Documento">
            </div>
            <div class="col-3">
                <label for="documento_id">Identificador Documento</label>
                <input type="text" class="form-control" name="documento_id" value="<%= curso.id_documento %> "
                id="documento_id">
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-6">
                <label for="horario">Horario</label>
                <input type="text" class="form-control" name="horario" value="<%= curso.Horario %> " id="horario"
                placeholder="Sábado de 0:00 a 0:00">
            </div>
            <div class="form-group col-6">
                <label for="instructor">Instructor</label>
                <select id="instructor" name="instructor" class="form-control">
                <option value="<%=curso.Instructor_id%>"><%=curso.instructor%></option>
                <option>...</option>
                </select>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="factura">Factura</label>
                <input type="text" class="form-control" name="factura" value="<%= curso.Factura %> " id="factura"
                placeholder="000000">
            </div>
            <div class="form-group col-md-6">
                <label for="costo">Costo Por alumno</label>
                <input type="text" class="form-control" name="costo" value="<%= curso.CostoAlumno %>" id="costo"
                placeholder="$0.00">
            </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Editar curso</button>
        </form>
        </div>
    </div>
    </div>
</div>