<!-- Modal Insertar curso en base a oferta -->
<div class="modal fade" id="insertar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AGREGAR NUEVO CURSO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="form_curso">
            <input type="hidden" name="programa" id="programa" value="<%= programa%>">
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="codigo_curso">Código de curso*</label>
                <input type="text" class="form-control" required name="codigo_curso" id="codigo_curso">
            </div>
            <div class="form-group col-md-8">
                <label for="nombre">Nombre del curso*</label>
                <input type="text" class="form-control" required name="nombre" id="nombre"
                value="<%= curso.CursoName %>">
            </div>
            </div>
            <div class="form-row">
                <div class="col-3">
                    <label for="date_inicio">Fecha de inicio</label>
                    <input type="text" class="form-control" name="date_inicio" id="date_inicio">
                </div>
                <div class="col-3">
                    <label for="date_fin">Fecha de finalización</label>
                    <input type="text" class="form-control" name="date_fin" id="date_fin">
                </div>
                <div class="col-3">
                    <label for="orden">Orden de inicio</label>
                    <input type="text" class="form-control" name="orden" id="orden">
                </div>
            </div>
            <div class="form-row">
            <div class="col-3">
                <label for="modalidad">Modalidad de contratación</label>
                <select class="form-control" name="modalidad" id="modalidad">
                <option value="Licitación">Licitación</option>
                <option value="Bolpros">Bolpros</option>
                </select>
            </div>
            <div class="col-3">
                <label for="modadlidad_id">Oferta de compra</label>
                <select class="form-control" name="modadlidad_id" id="modadlidad_id">
                    <option value="252">252</option>
                    <option value="378">378</option>
                </select>
            </div>
            <div class="col-3">
                <label for="documento">Documento de contratación</label>
                <select class="form-control" name="documento" id="documento">
                <option value="Contrato" selected>Contrato</option>
                </select>
            </div>
            <div class="col-3">
                <label for="documento_id">Identificador de documento</label>
                <select class="form-control" name="documento_id" id="documento_id">
                    <option value="26598" selected>26598</option>
                    <option value="27667" selected>27667</option>
                </select>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-8">
                <label for="fechas">Fechas</label>
                <input type="text" class="form-control" name="fechas" id="fechas" value="<%= curso.Fechas %>">
            </div>
            <div class="form-group col-md-4">
                <label for="horario">Horario</label>
                <input type="text" class="form-control" name="horario" id="horario" value="<%= curso.Horario %>">
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="instructor">Instructor</label>
                <select id="instructor" name="instructor" class="form-control">
                <option selected>Seleccionar instructor</option>
                <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="costo">Costo Por alumno</label>
                <input type="text" class="form-control" name="costo" id="costo" value="<%= curso.costo %>">
            </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar curso</button>
        </form>
        </div>
    </div>
    </div>
</div>