<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<%- include('../partials/header.admin.ejs'); %>
    <style>
        .nota {
            width: 4rem;
        }
    </style>


    <input type="hidden" id="idEvaluacion" value="<%= evaluacion.evaluacion %>">


    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-0 text-gray-800">Ingreso de notas</h4>
        </div>
        <p><span class="font-weight-bold"> Indicaciones: </span> A continuación se mostraran los alumnos y las notas </p>
        <div class="card shadow mb-3">
            <div class="card-header">
                <div class="container">
                    <div class="col-12">
                        <h4 class="text-left">Unidad evaluada: <%= detalles.nombre %></h4>
                        <h5 class="text-left">Descripción: <%= detalles.Descripcion %></h5>
                        <% if(detalles.Tipo == 1){ %>
                            <h5 class="text-left">Tipo de evaluación: Teórica</h5>  
                        <% } else{ %>
                            <h5 class="text-left">Tipo de evaluación: Práctica</h5> 
                        <% } %>   
                    </div>
                </div>
            </div>
            <div class="card shadow mb-3">
                
                <div class="card-body table-responsive">
                    <h5 class="text-secondary">Contenidos vistos en la evaluación: <%= detalles.Descripcion %></h5>
                        <div class="alert alert-info" role="alert">
                            Por favor active los contenidos vistos en la evaluación y guarde los cambios
                            <hr>
                            <% dataContenidos.forEach( (contenido)=>
                            {let ckd = "";if(contenido.exist) ckd ="checked";%>
                            <div class="custom-control custom-switch" id="swt">
                                <input type="checkbox" <%= ckd %>  class="custom-control-input switch" data-id="<%=contenido.id%>" data-status="<%=contenido.exist%>"  id="Switch<%=contenido.id%>">
                                <label class="custom-control-label" for="Switch<%=contenido.id%>"> <%= contenido.Nombre%> </label>
                            </div>
                            <%})%>
                        </div>
                        <button class="btn btn-success float-right" id="btnSave">Guardar información</button>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <%- include('../partials/footer'); %>
    <script src="/static/js/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/static/js/ec/notas.js"></script>
    <script src="/static/js/ec/adminNotas.js"></script>

    
