<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"
  type="text/css" />
<%- include('../partials/header.admin.ejs'); %>
  <div class="container-fluid">
    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/ec/administrador%>" class="btn btn-success btn-sm float-left d-inline"><i
                class="fas fa-arrow-left"></i></a>
          </div>
          <div class="card-body">
            <div class="card shadow mb-3">
              <div class="card-body">
                <h2>Cronograma vigente</h2>
                <h6>
                  Grupo :
                  <span class="font-weight-bold">
                    <%= grupo %>
                  </span>
                </h6>
                <h6>
                  Carrera :
                  <span class="font-weight-bold">
                    <%= carrera %>
                  </span>
                </h6>
                <hr />
                <button class="btn btn-sm btn-success d-inline">
                  <i class="fas fa-external-link-alt"></i> Generador de reportes
                </button>
              </div>
            </div>
            <small><span class="font-weight-bold">Nota: </span>El cronograma vigente
              administra la fechas y profesores que imparten los contenidos</small>
              <div class="row pt-2">
                <div class="col-md-6"><small><span class="font-weight-bold">Leyenda:</span></small>
                  <small><i class="fas fa-edit"></i> Editar | <i class="fas fa-plus-circle"></i> Agregar  | <i
                      class="fas fa-trash"></i> Eliminar| <i class="fas fa-book-open"></i> Contenidos | <i class="fas fa-expand-alt"></i> Sub-Unidades
                  </small> 
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-inline">
              Cronograma vigente de módulos y unidades
            </h6>
            <button class="btn btn-sm btn-success d-inline float-right" id="addNewModuleBtnVigente">
              <i class="fas fa-plus-circle"></i> Agregar Módulo
            </button>
            <p></p>
          </div>
          <div class="card-body row">
            <% datos.forEach( (element)=> { %>
              <div class="col-md-3" id="<%= // element.id %>">
                <div class="card shadow mb-3">
                  <div class="card-body ">
                    <h5>
                      <%= element.modelo %>
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Horas</th>
                                <th>Inicio</th>
                                <th>Fecha Fin</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <%= element.horas %>
                                </td>
                                <td>
                                  <%= element.fechaInicio %>
                                </td>
                                <td>
                                  <%= element.fechaFin %>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <hr>
                        <div class="table-responsive">
                          <% if(element.horas==element.horasUnidad) {%>
                            <p><span class="badge badge-success"><i class="fas fa-check"></i> HORAS CONCUERDAN</span>
                            </p>
                            <% }else{%>
                              <p><span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i> HORAS NO
                                  CONCUERDAN</span></p>
                              <% }%>
                                <hr>
                                <button class="btn btn-info btn-block"
                                  onclick="editActualModuleVigente('<%=element.idModelo%>', '<%= element.modelo%>', '<%= element.fechaInicio %>' , '<%= element.fechaFin %>', '<%=element.horas %>')">
                                  <i class="fas fa-edit"></i> Editar Módulo
                                </button>
                                <button class="btn btn-danger btn-block"
                                  onclick="deleteModulo('<%= element.idModelo%>')">
                                  <i class="fas fa-trash-alt"></i> Eliminar Módulo
                                </button>
                                <button class="btn btn-secondary btn-block">
                                  <i class="far fa-eye"></i> Ver notas del módulo
                                </button>
                        </div>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card shadow mb-3">
                  <div class="card-body">
                    <h5 class="text-dark d-inline">
                      Unidades pertenecientes al módulo
                    </h5>
                    <button class="btn btn-sm btn-success d-inline float-right addNewUnitBtn"
                      onclick="addNewUnitVigente('<%= element.idModelo %>', '<%= element.modelo %>')">
                      <i class="fas fa-plus-circle"></i>   Agregar unidad
                    </button>
                    <hr />
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Estado</th>
                            <th>Nombre de la unidad</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Profesor</th>
                            <th>Horas</th>
                            <th>Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% element.unidades.forEach( (uni, id)=> { %>
                            <tr>
                              <td class="text-center">
                                <% if(uni.Estado) {%>
                                  <span class="badge badge-success">OK</span>
                                  <% }else{%>
                                    <span class="badge badge-danger">PENDIENTE <br />
                                      CONFIGURACIÓN</span>
                                    <% }%>
                              </td>
                              <td>
                                <%= uni.UnidadName %>
                              </td>
                              <td>
                                <%= uni.Inicio %>
                              </td>
                              <td>
                                <%= uni.Fin %>
                              </td>
                              <td>
                                <%= uni.Usuario %>
                              </td>
                              <td>
                                <%= uni.horas %>
                              </td>
                              <td style="width: 25%">
                                <button class="btn btn-info btn-sm "
                                  onclick="editActualUnitVigente('<%= uni.idUnidad %>','<%=uni.UnidadName %>', ' <%= element.fechaInicio %>', ' <%= element.fechaFin %>' , '<%= uni.Inicio %>' , '<%= uni.Fin %>'  , '<%= uni.Usuario %>'   , '<%= uni.horas %>'  )">
                                  <i class="fas fa-edit"></i>

                                </button>
                                <button class="btn btn-danger btn-sm " onclick="deleteUnidad('<%= uni.idUnidad %>')">
                                  <i class="fas fa-trash-alt"></i>
                                </button>
                                <!-- Sub Unidades  -->
                                <button class="btn btn-dark btn-sm contenido"  data-statusopen="false" data-toggle="collapse"
                                  data-target=".accordion<%=uni.idUnidad %>" aria-expanded="true"
                                  aria-controls="collapseOne"><i class="fas fa-expand-alt"></i></button>
                                <!-- Contenidos -->
                                <button class="btn btn-dark btn-sm suUnidades"  data-statusopen="false" data-toggle="collapse"
                                data-target=".accordionContenidos<%=uni.idUnidad %>" aria-expanded="true"
                                aria-controls="collapseOne"><i class="fas fa-book-open"></i></button>
                              </td>
                            </tr>




                            <!-- sub unidades -->
                            <tr class="bg-light collapse accordion<%=uni.idUnidad %>">
                              <td colspan="8" class="text-center font-weight-bold">SUB-UNIDADES DE "<%= uni.UnidadName
                                  %>" </td>
                            </tr> 
                            <% uni.subUnidades.forEach( subUnidad=> { %>
                              <tr style="background: #1874ffb8;"
                                class="text-white collapse accordion<%=uni.idUnidad %>">
                                <td colspan="2"> <i class="fas fa-angle-right"></i>
                                  <%= subUnidad.Nombre %>
                                </td>
                                <td>
                                  <%= subUnidad.horas %>
                                </td>
                                <td colspan="4">
                                  <button class="btn btn-info btn-sm"
                                    onclick="editActualSubUnit('<%=subUnidad.id %>','<%=subUnidad.Nombre%>' ,'<%=subUnidad.horas%>')"><i
                                      class="fas fa-edit"></i> Editar</button>
                                  <button class="btn btn-danger btn-sm" onclick="deleteSubUnidad('<%=subUnidad.id %>')">
                                    <i class="fas fa-trash"></i> Eliminar</button>
                                </td>
                              </tr>
                              <% } )%>
                                <tr class=" bg-light font-weight-bold collapse accordion<%=uni.idUnidad %>">
                                  <td>Total</td>
                                  <td colspan="8" class="text-right">
                                    <%= uni.totalSubUnidad %> horas
                                  </td>
                                </tr>
                                <!-- FIN sub unidades -->
                                
          
                            <!-- Contenidos -->
                            <tr class="bg-light collapse accordionContenidos<%=uni.idUnidad %>">
                              <td colspan="8" class="text-center font-weight-bold">CONTENIDOS DE:  "<%= uni.UnidadName
                                  %>" </td>
                            </tr> 
                            <% uni.contenidos.forEach( contenido=> { %>
                              <tr style="background: #3a3b45;"
                                class="text-white collapse accordionContenidos<%=uni.idUnidad %>">
                                <td colspan="4"> <i class="fas fa-angle-right"></i>
                                  <%= contenido.Nombre %>
                                </td>
                                <td colspan="4">
                                  <button class="btn btn-info btn-sm"
                                    onclick="editContenido('<%=contenido.id %>','<%=contenido.Nombre%>')"><i
                                      class="fas fa-edit"></i> Editar</button>
                                  <button class="btn btn-danger btn-sm" onclick="deleteContenido('<%=contenido.id %>')">
                                    <i class="fas fa-trash"></i> Eliminar</button>
                                </td>
                              </tr>
                              <% } )%>
                            <!-- FIN Contenidos -->
                                <% }); %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="6" class="text-right"> <span class="font-weight-bold">Total Horas:</span>
                              <%=element.horasUnidad%>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="grupo" id="grupo" value="<%= grupoID%>" />
  <template id="newSubUnit">
    <swal-html>
      <div class="row">
        <div class="col-md-10">
          <label>Escriba el nombre de la unidad</label><input type="text" class="form-control text-uppercase"
            placeholder="Nombre de la Sub-unidad" id="SubUnidadNombre" />
        </div>
        <div class="col-md-2">
          <label>Horas</label>
          <input type="number" name="SubUnidadHoras" class="form-control" id="SubUnidadHoras" placeholder="0" min="0"
            step="1">
        </div>
      </div>
      <hr />
    </swal-html>
  </template>
  <template id="newModule">
    <swal-html>
      <div class="row">
        <div class="col-md-12">
          <label>Nombre</label><input type="text" class="form-control text-uppercase" placeholder="Nombre del módulo"
            id="MdlNombre" />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <label>Fecha Inicio</label><input type="text" class="form-control text-uppercase" placeholder="Inicio"
            id="MdlInicio" />
        </div>
        <div class="col-md-4">
          <label>Fecha Fin</label><input type="text" class="form-control text-uppercase" placeholder="FIN"
            id="MdlFin" />
        </div>
        <div class="col-md-4">
          <label>Horas totales del módulo</label>
          <input type="number" name="MdlHoras" class="form-control" id="MdlHoras" placeholder="0" min="0" step="1">
        </div>
      </div>
    </swal-html>
  </template>

  <template id="newUnit">
    <swal-html>
      <div class="row">
        <div class="col-md-12">
          <label>Escriba el nombre de la unidad</label><input type="text" class="form-control text-uppercase"
            placeholder="Nombre de la unidad" id="UnitNombre" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <label>Seleccione instructor</label>
          <select id="UnitProfesor" class="form-control">
            <option selected disabled value="0">Seleccione</option>
            <% profesores.forEach( (e)=> { %>
              <option value="<%= e.id_usuario  %>">
                <%=e.Nombre %>
              </option>
              <%})%>
          </select>
        </div>
        <div class="col-md-3">
          <label>Seleccione fecha inicio</label>
          <input type="text" class="form-control text-uppercase" placeholder="Fecha Inicio" id="UnitInicio" />
        </div>
        <div class="col-md-3">
          <label>Seleccione fecha fin</label>
          <input type="text" class="form-control text-uppercase" placeholder="Fecha Fin" id="UnitFin" />
        </div>
        <div class="col-md-3">
          <label>Horas totales del módulo</label>
          <input type="number" name="UniHora" class="form-control" id="UniHora" placeholder="0" min="0" step="1">
        </div>
      </div>
      <hr />
    </swal-html>
  </template>
  <template id="newContenido">
    <swal-html>
      <div class="row">
        <div class="col-md-12">
          <label>Escriba el contenido</label><input type="text" class="form-control text-uppercase"
            placeholder="Contenido" id="ContenidoText" />
        </div>
      </div>
      <hr />
    </swal-html>
  </template>
  <!-- /.container-fluid -->
  <%- include('../partials/footer'); %>
    <script src="/static/js/jquery.mask.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="/static/js/ec/model.js"></script>