<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"
  type="text/css" />
<%- include('../partials/header.admin.ejs'); %>
  <div class="container-fluid">
    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/ec/administrador%>" class="btn btn-success btn-sm float-left d-inline"><i
                class="fas fa-arrow-left"></i></a>
          </div>
          <div class="card-body">
            <div class="card shadow mb-3">
              <div class="card-body">
                <h5>
                  Cronograma modelo
                  <span class="font-weight-bold">
                    <%= carrera.Nombre %>
                  </span>
                </h5>
                <p class="m-0">
                  Horas totales:
                  <span class="font-weight-bold">
                    <%= carrera.horasTotales %>
                  </span>
                </p>
                <p class="m-0">
                  Horas Horas de formación básica:
                  <span class="font-weight-bold">
                    <%= carrera.horasBasica %>
                  </span>
                </p>
                <p class="m-0">
                  Horas de alternancia:
                  <span class="font-weight-bold">
                    <%= carrera.horasAlter %>
                  </span>
                </p>
                <hr />
                <p>
                  Horas de módulos ingresados :
                  <span class="font-weight-bold">
                    <%=horasTodosModulos%>
                  </span>
                </p>
                <% if(carrera.horasTotales==horasTodosModulos) {%>
                  <p>
                    <span class="badge badge-success"><i class="fas fa-check"></i> HORAS GLOBALES CONCUERDAN</span>
                  </p>
                  <% }else{%>
                    <p>
                      <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i> HORAS GLOBALES NO
                        CONCUERDAN</span>
                    </p>
                    <% }%>
              </div>
            </div>
            <small><span class="font-weight-bold">Nota: </span>El modelo actúal se
              replicara en cada grupo creado</small>
            <div class="row pt-2">
              <div class="col-md-10">
                <small><span class="font-weight-bold">Leyenda:</span></small>
                <small><i class="fas fa-edit"></i> Editar |
                  <i class="fas fa-plus-circle"></i> Agregar |
                  <i class="fas fa-trash"></i> Eliminar|
                  <i class="fas fa-book-open"></i> Contenidos |
                  <i class="fas fa-expand-alt"></i> Sub-Unidades
                </small>
              </div>
              <div class="col-md-2">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" autocomplete="off" id="btnBloques" checked> <i class="fas fa-th-large"></i>
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off" id="btnLista"> <i class="fas fa-list-ul"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>








































    <div class="row container-fluid d-none" id="lista" >
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-inline">
              Modelo de módulos y unidades
            </h6>
            <button class="btn btn-sm btn-success d-inline float-right" id="addNewModuleBtn">
              <i class="fas fa-plus-circle"></i> Agregar Módulo
            </button>
          </div>
          <div class="card-body row">
            <div id="accordion" class="container">
              <% datos.forEach( (element, idModulo)=> { %>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseModule<%= idModulo %>" aria-expanded="false" aria-controls="collapseTwo">
                        Módulo:  <%= element.modelo %>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseModule<%= idModulo %>" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordion">
                    <div class="card-body">
                      <!-- Cuerpo del Módulo -->
                      <h6 class="text-secondary d-inline">Información del módulo : <%= element.modelo %>
                      </h6>
                      <button class="btn btn-sm btn-success d-inline float-right addNewUnitBtn mb-1"
                      onclick="addNewUnit('<%= element.idModelo %>', '<%= element.modelo %>')">
                      <i class="fas fa-plus-circle"></i> Agregar unidad </button>
                      <hr>
                      <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Fecha inicio</th>
                            <th>Fecha Fin</th>
                            <th>Horas del módulo</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <%= element.fechaInicio %>
                            </td>
                            <td>
                              <%= element.fechaFin %>
                            </td>
                            <td class="text-success">
                              <%= element.horas %>
                            </td>
                            <td>
                              <% if(element.horas==element.totalHorasUnidades) {%>
                                <p>
                                  <span class="badge badge-success"><i class="fas fa-check"></i> HORAS DEL MÓDULO CONCUERDAN</span>
                                </p>
                            <% }else{%>
                                <p>
                                  <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i> HORAS DEL MÓDULO NO CONCUERDAN</span>
                                </p>
                            <% }%>
                            </td>
                            <td>
                              <button class="btn btn-info btn-block btn-sm"
                              onclick="editActualModule('<%=element.idModelo%>', '<%= element.modelo%>', '<%= element.fechaInicio %>' , '<%= element.fechaFin %>' , '<%= element.horas %>')">
                              <i class="fas fa-edit"></i> Editar Módulo
                            </button>
                            <button class="btn btn-danger btn-block btn-sm" onclick="deleteModulo('<%= element.idModelo%>')">
                              <i class="fas fa-trash-alt"></i> Eliminar Módulo
                            </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                      <h6 class="text-secondary">Unidades</h6>
                      <div class="card">
                        <% element.unidades.forEach( (uni, id)=> { %>
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link text-danger collapsed" data-toggle="collapse"
                                data-target="#collapseCuerpoUnidad<%= id+idModulo%>" aria-expanded="false" aria-controls="collapseCuerpoUnidad<%= id+idModulo %>">
                                <i class="fas fa-chevron-right"></i> Unidad : <%=uni.UnidadName%> - Horas : <%=uni.horas%> 
                                
                                <button class="btn btn-info btn-sm float-right"
                                onclick="editActualUnit('<%=uni.UnidaId %>','<%=uni.UnidadName%>' ,'<%=uni.horas%>')">
                                <i class="fas fa-edit"></i>
                              </button>

                              <button class="btn btn-danger btn-sm float-right" onclick="deleteUnidad('<%=uni.UnidaId %>')">
                                <i class="fas fa-trash"></i>
                              </button>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseCuerpoUnidad<%= id+idModulo %>" class="collapse" aria-labelledby="headingThree"
                            data-parent="#headingTwo">
                            <div class="card-body">
                              <!-- Cuerpo unidad -->
                              <!-- Contenidos Accordion Up -->
                              <h6 class="text-secondary"></h6>
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link text-info collapsed" data-toggle="collapse"
                                    data-target="#collapseContenidos<%= id+idModulo %>" aria-expanded="false"
                                    aria-controls="collapseContenidos<%= id+idModulo %>">
                                    Contenidos

                                    <button class="btn btn-success btn-sm btnContenidos float-right"
                                    data-id="<%= uni.UnidaId %>" data-nombre="<%= uni.UnidadName%>"
                                    data-carrera="<%= carreraID%>" data-from="up"
                                    data-openac="accordionContenidos<%= uni.UnidaId%>">
                                    <i class="fas fa-plus-circle"></i> Contenidos
                                  </button>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseContenidos<%= id+idModulo %>" class="collapse" aria-labelledby="headingThree"
                                data-parent="#headingTwo">
                                <div class="card-body">
                                  <table class="table table-striped" id="tablaContenidosUp<%= uni.UnidaId %>">
                                  <% uni.contenidos.forEach( contenido=> { %>
                                      <tr>
                                        <td>
                                          <%= contenido.Nombre %>
                                          <button class="btn btn-info btn-sm float-right"
                                          onclick="editContenido('<%=contenido.id %>','<%=contenido.Nombre%>')">
                                          <i class="fas fa-edit"></i> Editar
                                        </button>
                                        <button class="btn btn-danger btn-sm float-right"
                                          onclick="deleteContenido('<%=contenido.id %>')">
                                          <i class="fas fa-trash"></i> Eliminar
                                        </button>
                                        </td>
                                      </tr>
                                      <% }); %>
                                    </table>
                                </div>
                              </div>
                              <!-- Sub Unidades Accordion Up -->
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link text-info collapsed" data-toggle="collapse"
                                    data-target="#collapseSubUnidades<%= id %>" aria-expanded="false" aria-controls="collapseSubUnidades<%= id %>">
                                    Sub-Unidades
                                    <button class="btn btn-success btn-sm btnAddSubUnit float-right"
                                    data-id="<%= uni.UnidaId %>" data-nombre="<%= uni.UnidadName%>"
                                    data-carrera="<%= carreraID%>">
                                    <i class="fas fa-plus-circle"></i> Sub-unidad
                                  </button>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseSubUnidades<%= id %>" class="collapse" aria-labelledby="headingThree"
                                data-parent="#headingTwo">
                                <div class="card-body">
                                  <% uni.subunidades.forEach( subUnidad=> { %>
                                    <!-- tabla de sub unidades up -->
                                    <table class="table table-striped">
                                      <tr>
                                        <td>
                                          <%= subUnidad.Nombre %>
                                        </td>
                                        <td>
                                          <%= subUnidad.horas %>
                                          <button class="btn btn-info btn-sm float-right"
                                          onclick="editActualSubUnit('<%=subUnidad.id %>','<%=subUnidad.Nombre%>' ,'<%=subUnidad.horas%>')">
                                          <i class="fas fa-edit"></i> Editar
                                        </button>
                                        <button class="btn btn-danger btn-sm float-right" onclick="deleteSubUnidad('<%=subUnidad.id %>')">
                                          <i class="fas fa-trash"></i> Eliminar
                                        </button>
                                        </td>
                                      </tr>
                                    </table>
                                    <% }); %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% }); %>
                        </div>
                        <hr>
                        <p>Total de horas en unidades: <span  class="text-success"> <%=element.totalHorasUnidades %> </span> </p>
                    </div>
                  </div>
                </div>
                <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>













































    <div class="row container-fluid" id="bloques">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-inline">
              Modelo de módulos y unidades
            </h6>
            <button class="btn btn-sm btn-success d-inline float-right" id="addNewModuleBtn">
              <i class="fas fa-plus-circle"></i> Agregar Módulo
            </button>
          </div>
          <div class="card-body row">
            <% datos.forEach( (element)=> { %>
              <div class="col-md-4" id="<%= // element.id %>">
                <div class="card shadow mb-3">
                  <div class="card-body table-responsive">
                    <h5>
                      <%= element.modelo %>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Fecha inicio</th>
                              <th>Fecha Fin</th>
                              <th>Horas</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <%= element.fechaInicio %>
                              </td>
                              <td>
                                <%= element.fechaFin %>
                              </td>
                              <td>
                                <%= element.horas %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <hr />
                        <% if(element.horas==element.totalHorasUnidades) {%>
                            <p>
                              <span class="badge badge-success"><i class="fas fa-check"></i> HORAS CONCUERDAN</span>
                            </p>
                        <% }else{%>
                            <p>
                              <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i> HORAS NO CONCUERDAN</span>
                            </p>
                        <% }%>
                              <button class="btn btn-info btn-block"
                                onclick="editActualModule('<%=element.idModelo%>', '<%= element.modelo%>', '<%= element.fechaInicio %>' , '<%= element.fechaFin %>' , '<%= element.horas %>')">
                                <i class="fas fa-edit"></i> Editar Módulo
                              </button>
                              <button class="btn btn-danger btn-block" onclick="deleteModulo('<%= element.idModelo%>')">
                                <i class="fas fa-trash-alt"></i> Eliminar Módulo
                              </button>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card shadow mb-3">
                  <div class="card-body">
                    <h5 class="text-dark d-inline">
                      Unidades pertenecientes al módulo
                    </h5>
                    <button class="btn btn-sm btn-success d-inline float-right addNewUnitBtn"
                      onclick="addNewUnit('<%= element.idModelo %>', '<%= element.modelo %>')">
                      <i class="fas fa-plus-circle"></i> Agregar unidad
                    </button>
                    <hr />
                    <div class="table-responsive">
                      <table class="table table-bordered table-sm" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Nombre de la unidad</th>
                            <th>Horas</th>
                            <th>Opciones</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% element.unidades.forEach( (uni, id)=> { %>
                            <tr>
                              <td>
                                <small style="cursor: pointer" data-toggle="collapse"
                                  data-target=".accordion<%=uni.UnidaId %>" aria-expanded="true"
                                  aria-controls="collapseOne">
                                  <%= uni.UnidadName %>
                                </small>
                              </td>
                              <td>
                                <small>
                                  <%= uni.horas %>
                                </small>
                              </td>
                              <td>
                                <button class="btn btn-info btn-sm"
                                  onclick="editActualUnit('<%=uni.UnidaId %>','<%=uni.UnidadName%>' ,'<%=uni.horas%>')">
                                  <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" onclick="deleteUnidad('<%=uni.UnidaId %>')">
                                  <i class="fas fa-trash"></i>
                                </button>
                                <!-- Contenidos -->
                                <button class="btn btn-dark btn-sm contenido" data-statusopen="false"
                                  data-toggle="collapse" data-target=".accordionContenidos<%=uni.UnidaId %>"
                                  aria-expanded="true" aria-controls="collapseOne">
                                  <i class="fas fa-book-open"></i>
                                </button>
                                <!-- Sub-Unidades -->
                                <button class="btn btn-dark btn-sm suUnidades" data-statusopen="false"
                                  data-toggle="collapse" data-target=".accordion<%=uni.UnidaId %>" aria-expanded="true"
                                  aria-controls="collapseOne">
                                  <i class="fas fa-expand-alt"></i>
                                </button>
                              </td>
                              <td>
                                <% if(uni.horas==uni.horasSubUnidades || !uni.horasSubUnidades ) {%>
                                  <p>
                                    <span class="badge badge-success"><i class="fas fa-check"></i></span>
                                  </p>
                                  <% }else{%>
                                    <p>
                                      <span class="badge badge-warning"><i class="fas fa-exclamation-triangle"></i>
                                      </span>
                                    </p>
                                    <% }%>
                              </td>
                            </tr>

                            <!-- Sub Unidades -->
                            <tr class="bg-light collapse accordion<%=uni.UnidaId %>">
                              <td colspan="5" class="text-center font-weight-bold">
                                SUB-UNIDADES DE "<%= uni.UnidadName %>"
                                  <button class="btn btn-success btn-sm btnAddSubUnit float-right"
                                    data-id="<%= uni.UnidaId %>" data-nombre="<%= uni.UnidadName%>"
                                    data-carrera="<%= carreraID%>">
                                    <i class="fas fa-plus-circle"></i> Sub-unidad
                                  </button>
                              </td>
                            </tr>
                            <% uni.subunidades.forEach( subUnidad=> { %>
                              <tr style="background: #1874ffb8" class="text-white collapse accordion<%=uni.UnidaId %>">
                                <td>
                                  <i class="fas fa-angle-right"></i>
                                  <%= subUnidad.Nombre %>
                                </td>
                                <td>
                                  <%= subUnidad.horas %>
                                </td>
                                <td colspan="2">
                                  <button class="btn btn-info btn-sm"
                                    onclick="editActualSubUnit('<%=subUnidad.id %>','<%=subUnidad.Nombre%>' ,'<%=subUnidad.horas%>')">
                                    <i class="fas fa-edit"></i> Editar
                                  </button>
                                  <button class="btn btn-danger btn-sm" onclick="deleteSubUnidad('<%=subUnidad.id %>')">
                                    <i class="fas fa-trash"></i> Eliminar
                                  </button>
                                </td>
                              </tr>
                              <% } )%>

                                <tr class="bg-light font-weight-bold collapse accordion<%=uni.UnidaId %>">
                                  <td>Total</td>
                                  <td colspan="4" class="text-right">
                                    <%= uni.horasSubUnidades %>
                                  </td>
                                </tr>
                                <!--  Fin Sub Unidades -->

                                <!-- Contenidos -->
                                <tr class="bg-light collapse accordionContenidos<%=uni.UnidaId %>">
                                  <td colspan="5" class="text-center font-weight-bold">
                                    CONTENIDOS DE LA UNIDAD: "<%= uni.UnidadName %>"
                                      <button class="btn btn-success btn-sm btnContenidos float-right"
                                        data-id="<%= uni.UnidaId %>" data-nombre="<%= uni.UnidadName%>"
                                        data-carrera="<%= carreraID%>"
                                        data-from="down"
                                        data-openac="accordionContenidos<%= uni.UnidaId%>">
                                        <i class="fas fa-plus-circle"></i> Contenidos
                                      </button>
                                  </td>
                                </tr>
                                <% uni.contenidos.forEach( contenido=> { %>
                                  <tr style="background: #3a3b45"
                                    class="text-white collapse accordionContenidos<%=uni.UnidaId %>">
                                    <td colspan="2">
                                      <i class="fas fa-angle-right"></i>
                                      <%= contenido.Nombre %>
                                    </td>
                                    <td colspan="2">
                                      <button class="btn btn-info btn-sm"
                                        onclick="editContenido('<%=contenido.id %>','<%=contenido.Nombre%>')">
                                        <i class="fas fa-edit"></i> Editar
                                      </button>
                                      <button class="btn btn-danger btn-sm"
                                        onclick="deleteContenido('<%=contenido.id %>')">
                                        <i class="fas fa-trash"></i> Eliminar
                                      </button>
                                    </td>
                                  </tr>
                                  <% } )%>
                                    <tr class="bg-light font-weight-bold collapse accordionContenidos<%=uni.UnidaId %>">
                                      <td colspan="3"></td>
                                    </tr>
                                    <!-- Fin Contenidos -->
                                    <% }); %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="2">
                              <p class="text-right">
                                Total Horas <%=element.totalHorasUnidades %>
                              </p>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="carrera" id="carrera" value="<%= carreraID%>" />

  <template id="newModule">
    <swal-html>
      <div class="row">
        <div class="col-md-12">
          <label>Nombre</label><input type="text" class="form-control text-uppercase" placeholder="Nombre del módulo"
            id="MdlNombre" />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <label>Fecha Inicio</label><select class="form-control" id="MdlInicio">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Fecha Fin</label><select class="form-control" id="MdlFin">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Horas totales del módulo</label>
          <input type="number" name="MdlHoras" class="form-control" id="MdlHoras" placeholder="0" min="0" step="1" />
        </div>
      </div>
      <small><span class="font-weight-bold">Nota:</span> Si la fecha de inicio es
        mayor a la de fin, el rango tomará el siguiente año en cuenta</small>
    </swal-html>
  </template>

  <template id="newUnit">
    <swal-html>
      <div class="row">
        <div class="col-md-10">
          <label>Escriba el nombre de la unidad</label><input type="text" class="form-control text-uppercase"
            placeholder="Nombre de la unidad" id="UnitNombre" />
        </div>
        <div class="col-md-2">
          <label>Horas</label>
          <input type="number" name="MdlHoras" class="form-control" id="UnitHoras" placeholder="0" min="0" step="1" />
        </div>
      </div>
      <hr />
    </swal-html>
  </template>

  <template id="newSubUnit">
    <swal-html>
      <div class="row">
        <div class="col-md-10">
          <label>Escriba el nombre de la unidad</label><input type="text" class="form-control text-uppercase"
            placeholder="Nombre de la Sub-unidad" id="SubUnidadNombre" />
        </div>
        <div class="col-md-2">
          <label>Horas</label>
          <input type="number" name="SubUnidadHoras" class="form-control" id="SubUnidadHoras" placeholder="0" min="0"
            step="1" />
        </div>
      </div>
      <hr />
    </swal-html>
  </template>
  <template id="newContenido">
    <swal-html>
      <div class="row">
        <div class="col-md-12">
          <label>Escriba el contenido</label><input type="text" class="form-control text-uppercase"
            placeholder="Contenido" id="ContenidoText" />
        </div>
      </div>
      <hr />
    </swal-html>
  </template>
  <!-- /.container-fluid -->
  <%- include('../partials/footer'); %>
    <script src="/static/js/jquery.mask.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="/static/js/ec/model.js"></script>