<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"
  type="text/css" />
<%- include('../partials/header.admin.ejs'); %>
  <div class="container-fluid">
    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/ec/administrador%>" class="btn btn-success btn-sm float-left d-inline"><i
                class="fas fa-arrow-left"></i></a>
          </div>
          <div class="card-body">
            <div class="card shadow mb-3">
              <div class="card-body">
                <h5> Cronograma modelo <span class="font-weight-bold"><%= carrera %></span></h5>
              </div>
            </div>
            <small><span class="font-weight-bold">Nota: </span>El modelo actúal se replicara en cada grupo
              creado</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-inline">Modelo de módulos y unidades </h6>
            <button class="btn btn-sm btn-success d-inline float-right" data-toggle="modal" data-target="#exampleModal">
              Agregar Módulo
            </button>
            <p></p>
          </div>
          <div class="card-body row">
            <%  datos.forEach( (element)=> { %>
              <div class="col-md-4" id="<%= // element.id %>">
                <div class="card shadow mb-3">
                  <div class="card-body">
                    <h5>
                      <%= element.modelo %>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Fecha inicio</th>
                              <th>Fecha Fin</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td> <%= element.fechaInicio %>   </td>
                              <td> <%= element.fechaFin %>   </td>
                            </tr>
                          </tbody>
                        </table>
                        <button class="btn  btn-info btn-block"> <i class="fas fa-edit"></i> Editar Módulo</button>
                        <button class="btn  btn-danger btn-block"> <i class="fas fa-trash-alt"></i> Eliminar
                          Módulo</button>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card shadow mb-3">
                  <div class="card-body">
                    <h5 class="text-dark d-inline">Unidades pertenecientes al módulo</h5>
                    <button class="btn btn-sm btn-success d-inline  float-right"
                      onclick="agregarParticipante('<%= // element.id %>')">
                      Agregar Unidad
                    </button>
                    <hr />
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped table-sm" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Nombre de la unidad</th>
                            <th>Editar unidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%  element.unidades.forEach( (uni)=> { %>
                            <tr>
                              <td>
                               <small>  <%= uni %> </small>
                              </td>
                              <td style="width: 25%;">
                                <button class="btn btn-info btn-sm" >Editar</button>
                                <button class="btn btn-danger btn-sm" >Eliminar</button>
                              </td>
                            </tr>
                            <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <%  }); %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar empresa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="newEmpresa">
            <input type="hidden" name="curso" value="<%= // curso.Codigo_curso  %>">
            <select class="custom-select" id="select_empresa" name="select_add_empresa">
              <option value="0">- Buscar empresa -</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="curso" id="curso" value="<%= // curso.Codigo_curso%>">
  <% // }%>
    <div class="modal fade" id="modal_migrar_curso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Migrar estudiante a otro curso </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="custom-select" id="selec_cursos" name="selec_cursos">
              <option value="0">- Buscar curso -</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button id="change_matricula" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <% // }%>
      <!-- Modal Ingresar participante-->

      <div class="modal fade" id="modal_migrar_all" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Migrar todo el bloque de solicitud </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Migrar el bloque de solicitud, cambiara la asignación de participantes, empresa y documentos al nuevo
                curso seleccionado.</p>
              <select class="custom-select selec_cursos" id="selec_cursos2" name="selec_cursos">
                <option value="0">- Buscar curso -</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button id="btn_migrar_todo" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- /.container-fluid -->
      <%- include('../partials/footer'); %>
        <script src="/static/js/jquery.mask.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="/static/js/curso_detalle.js"></script>