<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"
  type="text/css" />
  <%- include('../partials/header.admin.ejs'); %>
  <!-- Contenedor base para informacion y botones de eventos -->
  <div class="container-fluid">
    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/cursos/<%= programa %>" class="btn btn-success btn-sm float-left d-inline"><i class="fas fa-arrow-left"></i></a>
            <!-- Si el tipo es curso entonces aparece esto -->
            <% if(tipo=='curso' ) { %>
              <button class="btn btn-warning btn-sm float-right d-inline m-1" data-toggle="modal" data-target="#modificar_modal">Editar</button>
              <button class="btn btn-danger btn-sm float-right d-inline m-1" id="btnFinalizarCurso">Finalizar curso</button>
            <% } %>
          </div>
          <div class="card-body">
            <div class="card shadow mb-3">
              <div class="card-body">
                <!-- Si el tipo es curso entonces aparece esto -->
                <% if(tipo=='curso' ) { %>
                  <h4>
                    <%= curso.Nombre %> - <%= curso.Codigo_curso %>
                  </h4>
                  <div class="row">
                    <div class="col-6">
                      <p>
                        <b>Fecha inicio:</b>
                        <%= curso.Date_inicio %> <br />
                        <b>Fecha final:</b>
                        <%= curso.Date_fin %> <br />
                        <b>Orden de inicio:</b>
                        <%= curso.Orden %> <br />
                        <b>Agrupación:</b>
                        <%= curso.Agrupacion %><br />
                        <b>Modalidad:</b>
                        <%= curso.Modalidad %><br />
                        <b>Identificador Modalidad:</b>
                        <%= curso.id_modalidad %><br />
                      </p>
                    </div>
                    <div class="col-6">
                      <p>
                        <b>Horario:</b>
                          <%= curso.Horario %> <br />
                        <b>Costo Por alumno:</b> $<%= curso.CostoAlumno %> <br />
                        <b>Factura:</b>
                          <%= curso.Factura %> <br />
                        <b>Profesor:</b>
                          <%= curso.instructor %> <br />
                        <b>Documento:</b>
                          <%= curso.Modalidad %><br />
                        <b>Identificador Documento:</b>
                          <%= curso.id_documento %><br />
                      </p>
                    </div>
                  </div>
                  <hr>
                  <button class="btn btn-success btn-sm d-inline" onclick="ReporteAlumnos('<%=curso.Codigo_curso%>')"><i
                      class="fas fa-file-excel"></i> Descargar participantes
                  </button>
                  <button class="btn btn-primary btn-sm d-inline" onclick="createZipCurso('<%=curso.Codigo_curso%>')"><i
                      class="fas fa-file-archive"></i> Descargar ZIP de documentos
                  </button>
                <%} else{ %>
                  <h5> Oferta : <%= curso.Nombre %></h5>
                  <hr>
                  <button id="enlaceTrue" class="btn btn-success btn-sm d-inline" data-toggle="modal"
                    data-target="#modal_compartir" onclick="GetLinkToShare('<%=curso.Codigo_curso%>')">Obtener enlace de inscripción
                  </button>
                  <button class="btn btn-info btn-sm d-inline" data-toggle="modal"
                    data-target="#modificar_modal_oferta">Editar oferta
                  </button>
                  <button class="btn btn-primary btn-sm  d-inline" data-toggle="modal"
                    data-target="#insertar_modal">Crear curso de esta oferta
                  </button>
                  <button class="btn btn-secondary btn-sm d-inline" onclick="createZipCurso('<%=curso.Codigo_curso%>')">
                    <i class="fas fa-file-archive"></i> Descargar ZIP de documentos
                  </button>
                <% } %>
              </div>
            </div>
            <p class="float-right">Cantidad de solicitantes: <%= conteo %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenedor de agregar participantes -->
    <div class="row container-fluid">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-inline">Alumnos inscritos</h6>
            
            <p></p>
          </div>
          <div class="card-body row table-responsive">
            <!--Tabla detalle alumnos-->
            <%- include('Boards/tablaAlumnos'); %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('Modals/modalEnlaceDocumentacion'); %>

  <!-- Modal insertar participante -->
  <%- include('Modals/modalAgregarParticipante'); %>
  <!-- Si el tipo es oferta aparecera esto -->
  <% if(tipo=='oferta' ) { %>
    <!-- Modal insertar oferta -->
    <%- include('Modals/modalInsertarOferta'); %>
    <%- include('Modals/modalModificarOferta'); %>
    <!-- Modal editar oferta -->
  <% }%>
  <!-- Si el tipo es curso aparecera esto -->
  <% if(tipo=='curso' ) { %>
    <!-- Modal modificar curso-->
    <%- include('Modals/modalModificar'); %>
    <!-- Modal migrar participante a otro curso -->
    <%- include('Modals/modalMigrarParticipante'); %>
  <% }%>
  <!-- Modal Ingresar participante-->
  <%- include('Modals/modalParticipante'); %>
  <!-- Modal para compartir enlaces -->
  <%- include('Modals/modalEnlace'); %>
  <!-- /.container-fluid -->
  <%- include('../partials/footer'); %>
  <!-- ASIGNANDO VARIABLES -->
  <input type="hidden" name="curso" id="curso" value="<%=curso.Codigo_curso%>">
  <input type="hidden" name="cursoNombre" id="cursoNombre" value="<%=curso.Nombre%>">
  <input type="hidden" name="programa" id="programa" value="<%= programa%>">
  <!-- SCRIPT -->
  <script src="/static/js/jquery.mask.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script src="/static/js/habil/detalle/functions.js"></script>
  <script src="/static/js/curso_detalle.js"></script>
  <script src="/static/js/habil/detalle/update_oferta.js"></script>
  <script src="/static/js/habil/detalle/clicks.js"></script>
            