<link rel="stylesheet" href="/static/vendor/datatables/datatables.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" type="text/css" />
  <%- include('../partials/header.admin.ejs'); %>
  <div class="container-fluid">
    <style>
      .actives {
        background: rgb(91 126 204);
        color: white
      }
    </style>
    <div class="row container-fluid">
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/admin/cursos/detallectz/<%=idCurso%>/<%=programa%>/<%=tipo%>"
              class="btn btn-success btn-sm float-left d-inline"><i class="fas fa-arrow-left"></i></a>
            <!--

              <button class="btn btn-info btn-sm float-right d-inline mx-1"
              onclick="" data-toggle="modal" data-target="#modificar_modal">
              <i class="fas fa-cloud-download-alt"></i>
              Descargar todos los archivos en .zip
            </button>
            -->
            <button class="btn btn-success btn-sm float-right d-inline mx-1" data-toggle="modal"
              onclick="" data-target="#modificar_modal">
              <i class="fas fa-upload"></i>
              Subir archivos extra
            </button>
            <button class="btn btn-secondary btn-sm d-inline float-right" onclick="createZipParticipant('<%=idSolicitud%>')">
              <i class="fas fa-file-archive"></i> Descargar ZIP de documentos
            </button>
            <button class="btn btn-primary btn-sm float-right d-inline mx-1" data-toggle="modal"
              data-target="#modal_compartir_documentacion"
              <% if(dui) {%>
                onclick="GetLinkToShareDocuments(<%=idSolicitud%>, '<%=dui%>')">
              <% }else{%>
                  onclick="GetLinkToShareDocuments(<%=idSolicitud%>, '<%=nit%>')">
              <% }%>
              <i class="fas fa-share"></i>
              Obtener enlace para compartir
            </button>
          </div>
          <div class="card-body">
            <div class="card shadow mb-3">
              <div class="card-body">
                <h4>Archivos adjuntos empresa: <b>
                   <%=participante%>
                  </b></h4>
                <h5>Curso: <b>
                  <%=nCurso %> <%=hCurso%>
                  </b></h5>
                <div class="row table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Nombre del archivo</th>
                        <th>Descargar</th>
                        <th>Sustituir</th>
                        <th>Visualizar</th>
                        <th>Eliminar</th>
                        <!--
                           <th>¿Permitir edición a solicitante? <i style="cursor: pointer;" data-toggle="tooltip"
                            title="Permitir edición por terceros habilita a las empresas a poder sustituir este documento"
                            class="fas fa-info-circle"></i></th>
                        </tr>
                        -->
                       
                    </thead>
                    <tbody>
                      <% documentos.forEach( (element)=> { 
                        let tipoDocumento= element.tipo;
                        let nombreDocumento= "DOCUMENTO";
                      %>
                      
                            <tr id="">
                              <td>
                                <%=nombreDocumento%>
                              </td>
                              <td>
                                <button class="btn btn-success btn-block"
                                  onclick="DowloadS3File('<%=element.s3key%>', '<%=nombreDocumento%>')">
                                  <i class="fas fa-cloud-download-alt"></i>
                                </button>
                              <td>
                                <button class="btn btn-info btn-block"
                                  onclick="SustituirArchivo('<%=element.id_solicitud%>','1','<%=element.id%>')">
                                  <i class="fas fa-file-signature"></i>
                                </button>
                              </td>
                              <td>
                                <button class="btn btn-primary btn-block"
                                  onclick="SeeS3File('<%=element.s3key%>','<%=element.id%>')">
                                  <i class="fas fa-eye"></i>
                                </button>
                              </td>
                              <td>
                                <button class="btn btn-danger btn-block" onclick="deleteS3('<%=element.s3key%>')">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                              <!--
                                <td>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" data-id="" data-valor="1"
                                    name="" id="" value="option1" />
                                  <label class="form-check-label" for="">Permitir edición</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" data-id="" data-valor="0" type="radio"
                                    name="" id=">2" value="option2">
                                  <label class="form-check-label" for="">No permitir</label>
                                </div>
                              </td>
                              -->
                              
                            </tr>
                      <% });%>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Comentarios del coordinador:</label>
                    <textarea name="comentarios" class="form-control" id="comentarios" cols="30" rows="3"><%=comentario%></textarea>
                   
                    <button class="btn btn-success float-left btn-sm m-2" id="commentCompleto"><i class="fas fa-check-circle"></i> Marcar como completo</button>
                    <button class="btn btn-primary float-right btn-sm mt-2" id="updateCommentBtn">Actualizar comentarios</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row container-fluid">
      <div class="col-md-12">
        <div class="card shadow mb-3">
          <div class="card-body">
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="card shadow">
                  <div class="card-body">
                    <h5>Documentación</h5>
                    <div id="framediv"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ASIGNANDO VARIABLES -->
    <input type="hidden" name="curso" id="curso" value="<%=idCurso%>">
    <input type="hidden" name="cursoNombre" id="cursoNombre" value="<%=nCurso%>">
    <input type="hidden" name="idSolicitud" id="idSolicitud" value="<%=idSolicitud%>">
    <%- include('Modals/modalEnlaceDocumentacion.ejs'); %>
    <%- include('../partials/footer'); %>
      <script src="/static/js/jquery.mask.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
      <script src="/static/js/global/alerts.js"></script>
      <script src="/static/js/habil/detalle/functions.js"></script>
      <script src="/static/js/habil/detalle/notificacion.js"></script>
      <script src="/static/js/habil/detalle/update.js"></script>
      <script src="/static/js/habil/detalle/delete.js"></script>
      <script src="/static/js/habil/detalle/clicks.js"></script>
      <script src="/static/js/habil/detalle/zip.js"></script>