<form id="form_curso">
    <input type="hidden" name="programa" id="programa" value="<%= programa%>">
    <br>
    <div class="form-row">
    <div class="form-group col-md-4">
        <label for="codigo_curso">Código de curso*</label>
        <input type="text" class="form-control" required name="codigo_curso" id="codigo_curso">
    </div>
    <div class="form-group col-md-8">
        <label for="nombre">Nombre del curso*</label>
        <input type="text" class="form-control" required name="nombre" id="nombre"
        value="<%= curso.CursoName %>">
    </div>
    </div>
    <div class="form-row">
        <div class="col-3">
            <label for="date_inicio">Fecha de inicio</label>
            <input type="text" class="form-control" name="date_inicio" id="date_inicio">
        </div>
        <div class="col-3">
            <label for="date_fin">Fecha de finalización</label>
            <input type="text" class="form-control" name="date_fin" id="date_fin">
        </div>
    </div>
    <div class="form-row">
    <div class="col-3">
        <label for="modalidad">Modalidad de contratación</label>
        <select class="form-control" name="modalidad" id="modalidad">
        <option value="Licitación">Licitación</option>
        <option value="Bolpros">Bolpros</option>
          <option value="Precalificacion">Precalificación</option>
        </select>
    </div>
    <div class="col-3 blockIDC" id="blockIDC">
        <label for="modadlidad_id">Identificador de contratación</label>
        <input type="text" class="form-control" name="modadlidad_id" id="modadlidad_id">
    </div>
    <div class="col-3">
        <label for="documento">Documento de contratación</label>
        <select class="form-control" name="documento" id="documento">
        <option value="Contrato" selected>Contrato</option>
          <option value="Orden">Orden de compra</option>
        </select>
    </div>
    <div class="col-3">
        <label for="documento_id">Identificador de documento</label>
        <input type="text" class="form-control" name="documento_id" id="documento_id">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-8">
        <label for="fechas">Fechas</label>
        <input type="text" class="form-control" name="fechas" id="fechas" value="<%= curso.Fechas %>">
    </div>
    <div class="form-group col-md-4">
        <label for="horario">Horario</label>
        <input type="text" class="form-control" name="horario" id="horario" value="<%= curso.Horario %>">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-4 ">
        <label for="instructor">Instructor</label>
        <select id="instructor" name="instructor" class="form-control">
        <option selected>Seleccionar instructor</option>
        <option>...</option>
        </select>
        
    </div>
    <div class="form-group col-md-4">
        <label for="costo">Costo Por alumno</label>
        <input type="text" class="form-control" name="costo" id="costo" value="<%= curso.costo %>">
    </div>
    <div class="form-group col-md-12 ">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar curso</button>
    </div>
    </form>
    </div>
</div>
<div class="modal-footer">
