<table class="table table-striped">
<thead>
    <tr>
    <th>DUI</th>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Género</th>
    <th>Opciones</th>
    </tr>
</thead>
<tbody>
    <% query.forEach((element)=> { %>
        <tr>
        <td><%= element.dui %></td>
        <td><%= element.nombre %> </td>
        <td><%= element.telefono %></td>
        <td><%= element.email %></td>
        <td><%= element.sexo %></td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-sm">Ver solicitud</button>
            <button type="button" class="btn btn-secondary btn-sm">Obtener enlace documentación</button>
            <button type="button" class="btn btn-success btn-sm">Descargar documentos</button>
            <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
            </div>
        </td>
        </tr>
    <% }); %>
</tbody>
</table>



